.main {
    position: relative;
    height: 900px;
    width: 100%;
}

.main-home {
    height: 900px;
    width: 100%;
    background-color: var(--clr-bg-black);
}

.main-home-large {
    display: flex;
    width: auto;
    justify-content: center;
}

#main-home-large-video {
    display: block;
    width: 2560px;
}

.main-home-content{
    height: 100%;
    width: auto;
    margin-top: min(25vh, 100px);
    text-align: center;
    color: var(--clr-black);
}

.main-home-content-title {
    font-size: 4rem;
    margin: 0;
    transition: opacity 1s;
}

.main-home-content-subtitle {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: -0.125rem;
    padding: 0;
    margin: 0.25rem;
    opacity: 0;
    transition: opacity 1s;
}

@media (max-width: 1068px) {
    #main-home-large-video {
        width: 1068px;
    }
}